.container {
  min-height: 100vh; /* real browsers */
}

.login-form,
.register-form {
  width: 50%;
  margin: auto;
}

@media (max-width:600px) {

  .login-form,
  .register-form {
    width: 100%;
  }
  
}